.inputcard {
    margin-bottom: 10px;
    background-color: #344675;
    color: white;
}

.inputgroup {
    margin-top: 10px;
}

.inputrow {
    padding-left: 25px;
    padding-right: 25px;
    display: grid;
    grid-template-columns: 1fr 0.72fr 0.72fr 0.52fr 0.57fr;
}

.inputcolumn {
    padding-left: 5px;
    padding-right: 5px;
}

.gpuIcon {
    background: url('./../../assets/img/gpu.svg');
    height: 1rem;
    width: 3rem;
    display: block;
    background-position: center;
    background-size: cover;
}

.iconcontainer {
    padding: 10px 10px 10px 10px !important;
}